* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-size: 16px;
    --primary-color: #747ED1;
    --secondary-color: #E9EAF8;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


button {
    border: none;
    background: var(--primary-color);
    padding: .8rem 1rem;
    border-radius: .4rem;
    font-size: 1.02rem;
    color: #fff;
    font-size: 1.02rem;
}

body {
    background: #f5f5f5;
}

/* common CSS */

section {
    background-color: #fff;
    border-radius: 10px;
}

.section-top {
    width: 40%;
    text-align: center;
}

.section-title {
    color: gray;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.section-title-body {
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4.8rem;
    margin-bottom: 1rem;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.06rem;
    font-weight: 700;
    gap: 1rem;
}

ul>li>a {
    color: black;
}

nav>div>p {
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

#responsive-menu {
    display: none;
}

main {
    margin: 0.7rem;
}

/* banner section design */

#banner {
    background-image: url("./assets/images/team-banner.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 80vh;

}

.banner-description {
    width: 100%;
    height: 100%;
    background-color: rgba(73, 6, 73, 0.418);
    /* opacity: 0.35; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#banner-title {
    margin: 1.4rem;
    font-size: 3rem;
    letter-spacing: 1.5px;
    font-weight: 800;
}

.banner-description>p {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    padding: 0.4rem 0;
}

#service-container {
    margin: .5rem 0;
    padding: 5rem 0;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#service-section-body {
    margin: 5rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.service-img {
    width: 100%;
}

.service-boyd-title {
    font-size: 1.5rem;
    font-weight: 900px;
    padding-bottom: 2rem;
}

.single-service-description {
    padding-bottom: 2rem;
    width: 70%;
}

.body-list {
    padding: 10px;
}

.single-list {
    width: 47%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.list-icon {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 1.1rem;
    height: 1.1rem;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 1.8rem 0;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
}

.details-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: linear .3s;
}

/* working process section  */

#working-container {
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#working-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

#working-process {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: 2.5rem 0;
}

.single-working-process {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-working-process>img {
    width: 44px;
    height: 44px;
    margin: 10px auto;
}

#projects-container{
    padding: 4rem;
}

.projects {
    width: 80%;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.single-project {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.single-project:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    margin-bottom: 1rem;
}

.project-title {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.title-2 {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 800;
    color: gray;
    letter-spacing: 1.5px;
}



/* Responsive Design  */


@media screen and (min-width: 1024px) {
    .section-top {
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }

    .section-title {
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }

    .section-title-body {
        width: 40%;
        margin: 0 auto;
    }

    #working-process {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        margin: 2.5rem 0;
    }

    .projects {
        width: 80%;
        margin: 1.5rem auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
    }
}

@media screen and (max-width: 1023px) {

    .section-top {
        width: 90%;
        text-align: center;
    }

    #service-section-body {
        width: 80%;
        margin: 2rem 0;
    }

    .single-service {
        width: 90%;
    }

    .service-img {
        width: 50%;
    }

    .single-service-body-description {
        width: 50%;
    }

    .single-service-description {
        width: 98%;
    }

    .body-list {
        width: 98%;
    }

    .single-list {
        width: 98%;
    }

    .list-icon {
        margin-right: 20px;
    }

    #working-container {
        background-color: #fff;
        margin: 1rem 0;
        border-radius: 10px;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #working-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    #working-process {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        margin: 2.5rem 0;
    }

    .single-working-process {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .single-working-process>img {
        width: 44px;
        height: 44px;
        margin: 10px auto;
    }

    #working-process {
        flex-direction: column;
    }
    #projects-container{
        padding: 4rem 2rem;
    }

     .projects {
        width: 80%;
        margin: 1.5rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
    }
    .single-project{
        width: 300px;
    }
    .card-img{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .section-top {
        width: 80%;
        text-align: center;
    }

    nav {
        justify-content: space-between;
        padding: 0 1rem;
    }

    .not-visible {
        flex-direction: column;
        align-items: self-start;
        position: absolute;
        top: 4rem;
        left: -12rem;
        background: #d3d2d2;
        padding: 1rem;
        transition: linear 0.2s;
    }

    .visible {
        flex-direction: column;
        align-items: self-start;
        position: absolute;
        top: 4rem;
        left: 0.5rem;
        background: #d3d2d2;
        padding: 1rem;
        transition: linear 0.2s;
    }

    #menu-list>li {
        border-bottom: 1px solid gray;
        width: 100%;
        padding-bottom: 6px;
    }

    #language {
        display: none;
    }

    #responsive-menu {
        display: block;
    }

    #banner-title {
        font-size: 2rem;
        margin: 5px 0;
    }

    .banner-description {
        font-size: 1rem;
    }

    .section-title-body {
        font-size: 1.2rem;
    }

    .single-service-description {
        width: 95%;
    }

    .single-service {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .body-list {
        width: 98%;
    }

    .single-list {
        width: 98%;
    }

    .list-icon {
        margin-right: 20px;
    }

    #working-process {
        flex-direction: column;
    }

    .projects {
        width: 80%;
        margin: 1.5rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
    }

    .single-project{
        width: 350px;
    }

    .card-img{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .section-top {
        width: 100%;
        text-align: center;
    }

    nav {
        justify-content: space-between;
        padding: 0 1rem;
    }

    #menu-list {
        display: none;
    }

    #language {
        display: none;
    }

    #responsive-menu {
        display: block;
    }

    #banner-title {
        font-size: 1.8rem;
    }

    .banner-description {
        font-size: 1rem;
        letter-spacing: 0;
        padding: 5px;
        text-align: center;
    }

    .section-top {
        width: 70%;
        text-align: center;
    }

    .section-title-body {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 700;
    }

    #service-section-body {
        width: 100%;
        margin: 2rem 0;
    }

    .single-service {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 90%;
    }

    .single-service-description {
        width: 98%;
    }

    .body-list {
        width: 98%;
    }

    .single-list {
        width: 98%;
    }

    .list-icon {
        margin-right: 20px;
    }

    #working-container {
        flex-direction: column;
        padding: 10px;
    }
    .projects {
        margin: 1.5rem 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .single-project{
        width: 350px;
    }

    .card-img{
        width: 100%;
    }
}